{% extends "AppCoder/padre.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        


    </head>
    <body>
        
        {% block contenidoQueCambia %}

        
        <body>
            <img class="rounded mx-auto d-block" src="media/yo.png"/>
           <h5 class="text-center">Realizado por Dal Molin Juan Pablo</h5> 
           <h6 class="text-center">Desarrollador Web FullStack Junior</h6> 
           <h6 class="text-center">Programacion en C#,Python,PHP, HTML,CSS,JavaScript,React JS,Django</h6> 
            
            
        </body>
        
        {% endblock %}
        
     
        <!-- Footer-->
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'AppCoder/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>